<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /*
  ~  * MIT License
  ~  *
  ~  * Copyright (c) [2017] [velli20]
  ~  *
  ~  * Permission is hereby granted, free of charge, to any person obtaining a copy
  ~  * of this software and associated documentation files (the "Software"), to deal
  ~  * in the Software without restriction, including without limitation the rights
  ~  * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~  * copies of the Software, and to permit persons to whom the Software is
  ~  * furnished to do so, subject to the following conditions:
  ~  *
  ~  * The above copyright notice and this permission notice shall be included in all
  ~  * copies or substantial portions of the Software.
  ~  *
  ~  * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~  * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~  * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~  * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~  * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~  * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  ~  * SOFTWARE.
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.velli20.tachograph"
    android:versionCode="11"
    android:versionName="2.0" >


    <permission
        android:name="com.velli20.tachograph.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="com.velli.tachograph.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme"
        android:hardwareAccelerated="true"
        android:name="com.velli20.tachograph.App">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.velli20.tachograph.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/app_file_paths" />
        </provider>

        <activity
            android:name="com.velli20.tachograph.ActivityMain"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.velli20.tachograph.ActivityItemsToShowInSummary"
            android:theme="@style/AppBaseThemeWhiteBackground"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.velli20.tachograph.filepicker.ActivityFilePicker"
            android:theme="@style/AppBaseThemeWhiteBackground"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.velli20.tachograph.ActivityLogSummaryDay"
            android:theme="@style/AppBaseThemeWhiteBackground"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.velli20.tachograph.ActivityLogSummaryWeek"
            android:theme="@style/AppBaseThemeWhiteBackground"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.velli20.tachograph.ActivityAddNewEvent"
            android:theme="@style/ActivityAddNewEventTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
            android:name="com.velli20.tachograph.ActivityRestTypeChooser"
            android:theme="@style/ActivityRestTypeChooser"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.velli20.tachograph.ActivitySettings"
            android:theme="@style/ActivitySettings"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.velli20.tachograph.location.ActivityLoggedRouteMap"
            android:theme="@style/AppBaseTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
            android:name="com.velli20.tachograph.ActivityEventDetails"
            android:theme="@style/AppBaseTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <service
            android:name="com.velli20.tachograph.StartEventService">
        </service>

        <service
            android:name="com.velli20.tachograph.GpsBackgroundService"
            android:enabled="true">
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDvG4vOYJPsGrKAKmTnoIBzeGrlgNG5XkM" />
    </application>

</manifest>