<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /*
  ~  * MIT License
  ~  *
  ~  * Copyright (c) [2017] [velli20]
  ~  *
  ~  * Permission is hereby granted, free of charge, to any person obtaining a copy
  ~  * of this software and associated documentation files (the "Software"), to deal
  ~  * in the Software without restriction, including without limitation the rights
  ~  * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~  * copies of the Software, and to permit persons to whom the Software is
  ~  * furnished to do so, subject to the following conditions:
  ~  *
  ~  * The above copyright notice and this permission notice shall be included in all
  ~  * copies or substantial portions of the Software.
  ~  *
  ~  * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~  * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~  * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~  * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~  * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~  * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  ~  * SOFTWARE.
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.velli.tachograph"
    android:versionCode="10"
    android:versionName="1.9" >


    <permission
        android:name="com.velli.tachograph.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="com.velli.tachograph.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme"
        android:hardwareAccelerated="true"
        android:name="com.velli.tachograph.App">

        <activity
            android:name="com.velli.tachograph.ActivityMain"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.velli.tachograph.ActivityItemsToShowInSummary"
            android:theme="@style/AppBaseThemeWhiteBackground"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.velli.tachograph.filepicker.ActivityFilePicker"
            android:theme="@style/AppBaseThemeWhiteBackground"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.velli.tachograph.ActivityDayOverview"
            android:theme="@style/AppBaseThemeWhiteBackground"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.velli.tachograph.ActivityWeekOverview"
            android:theme="@style/AppBaseThemeWhiteBackground"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.velli.tachograph.ActivityAddNewEvent"
            android:theme="@style/ActivityAddNewEventTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.velli.tachograph.ActivityRestTypeChooser"
            android:theme="@style/ActivityRestTypeChooser"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.velli.tachograph.ActivitySettings"
            android:theme="@style/ActivitySettings"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name=".location.RouteActivity"
            android:theme="@style/AppBaseTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".location.ActivityRouteInfo"
            android:theme="@style/AppBaseThemeLight"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
            android:name="com.velli.tachograph.ActivityEventDetails"
            android:theme="@style/ActivityEventDetails"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <service
            android:name="com.velli.tachograph.StartEventService">
        </service>

        <service
            android:name="com.velli.tachograph.BackgroundService"
            android:enabled="true">
        </service>

        <receiver
            android:name="StartEventAppWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="Event Widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/start_event_widget_meta_data" />
        </receiver>

        <service
            android:name="com.velli.tachograph.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyATlxSE6fjMOpbGQZY-cNoqnTqBKJWrGKA" />
    </application>

</manifest>